.arquivo_button {
    position: relative;
}

.download_arquivo_button {
    background-color: transparent;
    border: none;
    color: var(--text-white);
    font-size: var(--font-text);
    cursor: pointer;
}

.delete_arquivo_button {
    background-color: transparent;
    position: absolute;
    right: var(--sm);
    border: none;
    color: color-mix(in srgb, var(--text-white) 30%, transparent);
    font-size: var(--font-text);
    align-self: flex-end;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.delete_arquivo_button:hover {
    color: var(--text-red);
}

.delete_arquivo_button_icon {
    display: flex;
    align-items: center;
}

.projeto_button {
    border: none;
    border-radius: var(--sm);
    padding: var(--md) var(--lg);
    font-size: var(--font-text);
    font-weight: bold;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--sm);

    background-color: var(--purple-button-color);
    color: var(--text-white);
    
    cursor: pointer;

    transition: scale 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.projeto_button:hover {
    background-color: var(--purple-button-hover);
    scale: 1.05;
}

.projeto_button i {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CineAI buttons */

.hero-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.primary-btn,
.secondary-btn {
  border: none;
  border-radius: 8px;
  padding: 12px 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.primary-btn {
  background: linear-gradient(90deg, #7c4dff, #b388ff);
  color: #fff;
}

.secondary-btn {
  background: transparent;
  border: 1px solid #b388ff;
  color: #b388ff;
}

.primary-btn:hover {
  transform: scale(1.05);
}

.secondary-btn:hover {
  background: #b388ff;
  color: #0b0b1f;
}

.plan-btn {
    margin-top: auto;
    background: linear-gradient(90deg, #7c4dff, #b388ff);
    border: none;
    border-radius: 6px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s ease;
}
  
.plan-btn:hover {
  transform: scale(1.05);
}

.delete_button {
    background-color: transparent;
    position: absolute;
    right: var(--sm);
    border: none;
    color: color-mix(in srgb, var(--text-white) 30%, transparent);
    font-size: var(--font-text);
    align-self: flex-end;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.delete_button:hover {
    color: var(--text-red);
}