.chat_main {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-height: calc(100vh - var(--header-height));
    position: relative;
        
    padding: var(--xl) var(--xl) var(--md) var(--xl);
    gap: var(--md);
}

.chat_header {
    position: relative;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--md);
    box-shadow: 0px var(--xl) 1rem color-mix(in srgb, var(--primary-color) 70%, transparent);
}

.chat_content {
    display: flex;
    flex-direction: column;
    gap: var(--xl);

    overflow-y: scroll;
    scrollbar-color: var(--midway-color) transparent;
}

.chat_footer {
    display: flex;
    position: relative;
    z-index: 1000;
    box-shadow: 0px calc(-1 * var(--xl)) 1rem color-mix(in srgb, var(--primary-color) 70%, transparent);
}

.chat_page_spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}