.projeto_header_title {
    display: flex;
    flex-direction: column;
    gap: var(--sm);
    flex: 1;
    min-width: 0; /* Allow shrinking if title is long */
}

.projeto_title {
    display: flex;
    gap: var(--md);
    color: var(--text-white);
    font-size: var(--font-title);
    font-weight: bold;
}

.projeto_title input {
    background-color: transparent;
    border: none;
    color: var(--text-white);
    font-size: var(--font-title);
    width: fit-content;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

.projeto_title input:focus {
    outline: none;
}

.projeto_description {
    color: var(--text-light-gray);
    font-size: var(--font-subtitle);
}

@media (max-width: 768px) {
    .projeto_title {
        font-size: var(--font-header);
    }

    .projeto_title input {
        font-size: var(--font-header);
    }

    .projeto_description {
        font-size: var(--font-text);
    }
}
