/* Icones */
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css');

/* Cores */
@import url(styles/colors.css);


/* Componentes de projeto */
@import url(styles/components/projetos/LayoutProjeto.css);
@import url(styles/components/projetos/ProjetoHeader.css);
@import url(styles/components/projetos/ProjetoSidebar.css);
@import url(styles/components/projetos/ProjetoTitle.css);

/* Componentes genéricos */
@import url(styles/components/Button.css);
@import url(styles/components/Card.css);
@import url(styles/components/Dropdown.css);
@import url(styles/components/chat/Prompter.css);
@import url(styles/components/chat/Message.css);
@import url(styles/components/EditableText.css);
@import url(styles/components/Outros.css);
@import url(styles/components/Form.css);

/* Páginas */
@import url(styles/pages/ErrorPage.css);
@import url(styles/pages/RoteiroPage.css);
@import url(styles/pages/ChatPage.css);
@import url(styles/pages/CineAI.css);
@import url(styles/pages/LoginPage.css);

/* Outros */
@import url(styles/Utility.css);

/* Elementos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--primary-color);
}
