.prompter {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--secondary-color);
    border: 1px solid var(--midway-color);
    border-radius: 20px;
    padding: 0.8rem 1.2rem;
    width: 100%;
    transition: border-color 0.3s ease;
}

.prompter:focus-within {
    border-color: var(--purple-button-color);
}

.prompter_input {
    width: 100%;
    min-height: 24px;
    height: 24px;
    max-height: 20rem;
    resize: none;

    background-color: transparent;
    border: none;

    color: var(--text-white);
    font-size: var(--font-text);
    padding: 0.2rem 0;

    scrollbar-color: var(--midway-color) transparent;
}

.prompter_input:focus {
    outline: none;
}

.send_button {
    border: none;
    background-color: var(--purple-button-color);
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-left: 0.5rem;
}

.send_button:hover {
    background-color: var(--purple-button-hover);
    transform: scale(1.05);
}